@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.list{
 overflow-y: hidden;
 overflow-x: hidden;
}

.heading{
  text-align: center;
  background-color: #C5DCFA;
  font-family: 'Open Sans';
  font-weight:600;
  font-size: 21px;
  color: #000;
  padding: 5px 5px;
}
.parent{
  
  margin: 1.5rem auto;
}

.label{
  
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16;
  color: #C7C7C7;
}

.Input{
  border-radius: 5px;
  border: 1px solid #C7C7C7;
 width: 100%;
}
@media screen and (max-width: 600px) {
   .Input{
    width: 100%;
    margin-top: 0;
  }
}

.first_Para{
  font-family: 'Open Sans';
  font-weight:500;
  font-size: 16px;
  color: #000;
  text-align: center;
  margin-top: 20px;
 

}

.imagelogo{
  width: 20px;
  height: 50px;
  border-radius: 100px;
  /* object-fit: inherit; */
  /* border: 2px solid #B2BABB; */

}
.imagediv > div{
  /* padding-left: 9rem;
   padding-right: 9rem;
  padding-top: 3rem;

  width: 100% */

  background-color: red;
}

.btn{
  float: right;
  margin-top: 15px;
  margin-right: 50px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 16px;
  color: #0A3977;
  background-color: #C5DCFA;
  border: none;
  padding: 3px 12px 6px 12px;
  cursor: pointer;
  text-align: center;
  

  

}
.btn:hover{
      background-color:green;
}

.imgIcon:hover{
  background-color: white;
  color: white;
}
.imgIcon{
  margin-top: 7px !important;
  margin-left: 4px !important;
 
}
.cntr{
  margin-left: 20%;
}

.wrapper_progressBar {
  width: 100%;
  
}

/* .progressBar {
} */

.progressBar li {
  list-style-type: none;
  float: left;
  width: 15%;
  position: relative;
  text-align: center;
  font-family: 'Open Sans';
}
.imgr{
  border-radius: 50%;
  object-fit: cover;
}
.progressBar li:before {
  content: "";
  line-height: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  background-color: white;
  font-size: 35px;
  font-family: 'Open Sans';
}

.progressBar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: dodgerblue;;
  top: 23px;
  left: -50%;
  z-index: -1;
  font-family: 'Open Sans';
}

.progressBar li:first-child:after {

  content: none;
}



.progressBar li.active1:before {
  content: "1";
  border-color: dodgerblue;
  font-weight: bold;
  color: dodgerblue;
  font-size:'35px';
   font-family: 'Open Sans';
 
}
.progressBar li.active1:before{
  background-color: #C5DCFA;
  color: blue;
}
.progressBar li.active1{
  
  color: blue;
}
.progressBar li.active2:before {
  content: "2";
  border-color: dodgerblue;
  font-weight: bold;
  color: dodgerblue;
  font-size:'35px';
   font-family: 'Open Sans';
}
.progressBar li.active3:before {
  content: "3";
  border-color: dodgerblue;
 font-weight: bold;
 color: dodgerblue;
 font-size:'35px';
 font-family: 'Open Sans';
}
.progressBar li.active4:before {
  content: "4";
  border-color: dodgerblue;
 font-weight: bold;
 color: dodgerblue;
 font-size:'35px';
  font-family:'Open Sans';
}
.progressBar li.active5:before {
  content: "5";
  border-color: dodgerblue;
 font-weight: bold;
 color: dodgerblue;
 font-size:'35px';
 font-family: 'Open Sans';
}

.progressBar .active:after {
  background-color: dodgerblue;
}

.progressBar li .steps{
  font-weight: bold;
  line-height: 2;
  
}
@media screen and (max-width: 968px) {
  .progressBar li{
   width: 20%;
   margin-top: 0;
 display: inline-block; 
 }
 .progressBar li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 10px;
}
 .uploadtext{
   
   position: absolute;
   left: 80
 }
 .btn{
  margin-top: 20px;
  margin-right: 155px;
 
  
  

  

}
.cntr{
  margin-left: 2%;
 
}
}

.uploadpic{
  text-align: center;
  padding-top: 8px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.uploadtext{
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-left: 250px;

  
  
}